/*
 * Mixin 指令
 */
/* @mixin 预先定义一份样式 */

@mixin large-text {
  font: {
    family: Arial;
    size: 20px;
    weight: bold;
  }
  color: #ff0000;
}

/* @include 引入一个预先定义的 @mixin 样式 */

.page-title {
  @include large-text;
  padding: 4px;
  margin-top: 10px;
}

/* 选择器 + 样式 */

@mixin silly-links {
  a {
    color: blue;
    background-color: red;
  }
}

@include silly-links;

/* 复合混入 */

@mixin compound {
  @include highlighted-background;
  @include header-text;
}

@mixin highlighted-background {
  background-color: #fc0;
}

@mixin header-text {
  font-size: 20px;
}

.test {
  @include compound
}

/* 传入参数 Arguments */

@mixin sexy-border($color, $width) {
  border: {
    color: $color;
    width: $width;
    style: dashed;
  }
}

p {
  @include sexy-border(blue, 10px);
}

/*指定参数的缺省值*/

@mixin left($value: 10px) {
  float: left;
  margin-right: $value;
}

p {
  @include left;
}

/* 传入多个不固定的参数 */
$b: box-shadow;
@mixin box-shadow($shadows...) {
  -moz-#{$b}: $shadows;
  -webkit-#{$b}: $shadows;
  #{$b}: $shadows;
}

.shadows {
  @include box-shadow(0px 4px 5px #666, 2px 6px 10px #999);
}


